@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_Native";
}

<div class="container">
    <h1 class="header">📋 Programming News</h1>
    <div class="button-group">
        <button onclick="htmlFunction()" id="button-html" class="active">Html</button>
        <button onclick="cssFunction()" id="button-css">Css</button>
        <button onclick="javascriptFunction()" id="button-javascript">JavaScript</button>
    </div>
    <h2 class="title" style="color:orangered;">The Basic Languange of the web : HTML</h2>
    <p class="date-post">Posted by <b>Mozilla</b> on Monday, June 21st 2027</p>
    <img id="image" src="/image/pic_html.jpeg" width="500" height="250" alt="HTML code on a screen" />
    <h3 class="topic">What is HTML?</h3>
    <p class="body-topic">
        HTML (HyperText Markup Language) is the most basic building block of the Web.
        It defines the meaning and structure of web content.
        Other technologies besides HTML are generally used to describe a web page's appearance/presentation (CSS)
        or functionality/behavior (JavaScript).
    </p>
</div>
