/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

* {
    font-family: 'Nunito', sans-serif;
}

.table {
    font-size: 14px;
}

#employeeTable {
    font-size: 14px;
}

#employeeTable .badge-role {
    font-size: 14px;
    font-weight: 400;
}

.buttonPdf {
    color: #f2594b !important;
}

.buttonExcel {
    color: #27ae60 !important;
}


#pokeModal .photo {
    margin: auto;
    width: 150px;
}

#modalAddEmployee .form-group small{
    color: #e74c3c;
    position: absolute;
    visibility: hidden;
}

#modalAddEmployee  .form-group.error small {
    visibility: visible;
}

#pokeModal .img-thumbnail {
    background-color: transparent;
    border: none;
}

#pokeModal .nav-item {
    font-size: 14px;
}

#pokeModal .table-about {
    font-size: 13px;
}

#pokeModal .stats {
    font-size: 13px;
}

#pokeModal h3 {
    font-size: 13px;
}

#pokeModal .progress {
    height: 5px;
}

#pokeModal .sprites {
    font-size: 13px;
}

#pokeModal .poison {
    background-color: #7d3c98;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 1px;
}

#pokeModal .grass {
    background-color: #2ecc71;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 1px;
}
