/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.container{
    margin:auto;
    width:800px;
    padding: 2px 10px 2px 10px;
}
.button-group{
    display:inline-block;
}
#button-html, #button-css, #button-javascript{
    display:inline-block;
    padding:5px 10px 5px 10px;
    font-size:14px;
    border:none;
}

.active{
    background-color:dodgerblue;
    color:#ffffff;
}