/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
#pokeModal .photo {
    margin:auto;
    width: 150px;
}
#pokeModal .img-thumbnail{
    background-color:transparent;
    border:none;
}

#pokeModal .nav-item{
    font-size:14px;
}

#pokeModal .table-about {
    font-size: 13px;
}

#pokeModal .stats {
    font-size: 13px;
}

#pokeModal h3{
    font-size:13px;
}

#pokeModal .progress{
    height:5px;
}

#pokeModal .sprites {
    font-size: 13px;
}

#pokeModal .poison {
    background-color: #7d3c98;
    color:#ffffff;
    font-weight:400;
    letter-spacing:1px;
}

#pokeModal .grass {
    background-color: #2ecc71;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 1px;
}