<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client</title>

    @*font awesemo*@
    <link href="~/lib/template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    @*sweet alert*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">

    @*css native*@
    <link href="~/lib/template/css/sb-admin-2.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />



</head>
<body class="bg-light">
    <div class="container">
        @RenderBody()
    </div>

    @*jquery source*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

    @*bootstrap source*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    @*sweet alert source*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.5/dist/sweetalert2.all.min.js"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
