@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title> Index </title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style>

        * {
            
        }
        .container {
            border: 1px solid red;
            width: 500px;
           
            position: relative;
            margin: auto;
        }
        #box1 {

            height: 200px;
            width: 200px;
           
            background-color: red;
        }
        #box2 {
            height: 200px;
            width: 200px;  
            background-color: green;
            position:relative;
            bottom:150px;
            left:150px;
        }
        #box3 {
            height: 200px;
            width: 200px;
            background-color: blue;  
        }
      
    </style>
</head>
<body>
    <div class="container">
        <div id="box1">Static</div>
        <div id="box2">Absolute</div>
        <div id="box3">Fixed</div>
    </div>
</body>
</html>
<script>
    $.ajax({
        url: "https://localhost:44321/API/Employees/TestCors",
        success: function (result) {
            console.log(result);
        }
    })
</script>